@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    position: static;
    margin: 0 auto;
    z-index: 1; 
}
p{
    font-size: 12px;
}
.inner{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input{
    outline: none;
}
.btn{
    width: 8%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing:  block;
    transition: .4s;
}
.choice .btn.btnChoice{
    background-color: rgb(235, 217, 217);
    border-radius: 10px 10px 10px 10px;
}
.choice .btn.btnChoice:hover{
    background-color: #333;
    color: rgb(235, 217, 217);
}
.choice .btn.btnChoice a{
    color: rgb(85, 81, 81);
    list-style: none;
    cursor: pointer;
}

/* HEADER */

header{
    width: 100%;
    height: 120px;
    top: 1px;
    border-bottom: 1px solid #bcdcbc;
    background-color: blanchedalmond;
    z-index: 2;
}
header .inner .menu{
    margin: auto;
    height: 100%;
    background-color: blanchedalmond;
}
/* HEADER-LOGO */
header .inner .menu .logo{
    position: relative;
    top: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url('https://avatars.githubusercontent.com/u/83266629?s=200&v=4');
    background-size: contain;
    cursor: pointer;
    display: flex;
    margin: auto;
    /* margin: auto 10px; */
}
header .inner .menu .logo > a{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 50%;
    text-align: center;
}
/*SECTION*/
section{
    position: relative;
}

/* 음식 타이틀 */
section .foods{
    margin-top: 100px;
    height: 150px;
    margin: auto;
    width: 100%;
    z-index: 3;
    background-color: rgba(219,219,219,0.5);
    display: flex; justify-content: center; align-items: center;
}
.button {
    width: 180px;
    height: 45px;
    font-family: 'BMHANNAAir';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 40px; margin-right: 40px;
    }
  
  .button:hover {
    background-color: #87FF98;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    /* color: #fff; */
    transform: translateY(-7px);
  }

/* 썸네일 div */
section .Container{
    position: relative;
    height: 1200px; margin-top: 100px;
    margin: auto;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.Video{
    text-align: center;
    margin-right: 150px;
    margin-top: 70px;
    width: 200px; height: 100px;
    box-sizing:border-box;
}
.thumbnail{
    position: relative;
}
.thumbnail img{
    position: relative;
    z-index: 1;
    width: 300px;
    border-radius: 10px 10px;
    cursor:pointer;
}
.Title{
    width: 150%;
    font-size: 15px;
    text-align: center;
}
/* 영상 정보 */
.backImg{
    position: absolute;
    border-radius: 10px 10px;
    cursor: pointer;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 150%;
    height: 200px;
    transition: .3s;
}
.backImg .text{
    position: absolute;
    margin: 30px;
    font-size: 25px;
    color: #fff;
}
.backImg:hover{
    opacity: 1;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 750px; height: 450px;
    /* border: 1px solid #888; */
    text-align: center;                     
}
.iframeClass {
    width: 750px; height: 450px;
    border: 0px; 
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* FOOTER */
footer{
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 179, 165);
}
footer .inner{
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 179, 165);
}
footer .inner >ul{
    display: flex;
}
footer .inner >ul li{
    padding: 20px;
}
footer .inner >ul li::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    margin-left: -20px;
    background-color: rgb(82, 87, 83);
}
footer .inner >ul li:first-child::before{
    display: none;
}
footer .inner >ul li:first-child a{
    font-size: 18px;
    font-weight: 700px;
}
footer .inner >ul li a{
    color : rgb(66, 61, 61); 
}

@media (max-width : 750px){
    /* COMMON */
    .inner{
        width: 750px;
    }
    /* HEADER */
    header{
        height: 90px;
    }
    header .inner .menu .logo{
        height: 50px;
        width: 50px;
    }
    /* SECTION */
    section .Container{
        width: 750px;
        height: 600px;
        padding-left: 0;
        padding-right: 0;

    }
    section .Container .Video{
        margin-right :20px;
    }
    section .inner .foods{
        margin-left: -30px;

    }
    .foods ul li.food_v{
        display: block;
        width: 50px;
        height: 50px;
        font-size: 12px;
    }
    .Video{
        margin-top: 70px;
        width: 200px;
    }
    .thumbnail img{
        width: 150px;
        height: 100px;
    }
    .backImg{
        width: 100%;
    }
    .Title{
        font-size: 5px;
        width: 100%;
        text-align: center;
    }
    .backImg{
        left: 23px;
        width: 76%;
        height: 100px;         
    }
    .backImg .text{
        font-size: 20px;
    }
    .iframeClass {
        width: 550px; height: 350px;
        border: 0px; 
    }
    /* 요리 Text */
    section .foods ul .food_v:nth-child(1):hover::before{
        content: "전체";
        position: absolute;
        width: 28px;
        color: black;
        left: 10%;
        opacity: 1;
        top: 60px;
    }
    section .foods ul .food_v:nth-child(2):hover::before{
        position: absolute;
        top: 60px;
        left: 19.5%;
        content: "반찬";
        color: black;
        width: 28px;
        opacity: 1;
    }
    section .foods ul .food_v:nth-child(3):hover::before{
        position: absolute;
        content: "찌개";
        width: 28px;
        color: black;
        opacity: 1;
        top: 60px;
        left: 29%;
    }
    section .foods ul .food_v:nth-child(4):hover::before{
        position: absolute;
        content: "밥";
        width: 15px;
        color: black;
        opacity: 1;
        top: 60px;
        left: 39.5%;
    }
    section .foods ul .food_v:nth-child(5):hover::before{
        position: absolute;
        content: "면";
        width: 15px;
        color: black;
        opacity: 1;
        top: 60px;
        left: 48.5%;
    }
    section .foods ul .food_v:nth-child(6):hover::before{
        position: absolute;
        content: "해물";
        width: 28px;
        color: black;
        opacity: 1;
        top: 60px;
        left: 57.5%;
    }
    section .foods ul .food_v:nth-child(7):hover::before{
        position: absolute;
        content: "다이어트";
        width: 57px;
        color: black;
        opacity: 1;
        top: 60px;
        left: 66%;
    }
    section .foods ul .food_v:nth-child(8):hover::before{
        position: absolute;
        content: "소스";
        width: 28px;
        color: black;
        opacity: 1;
        top: 60px;
        left: 77%;
    }
    section .foods ul .food_v:nth-child(9):hover::before{
        position: absolute;
        width: 61px;
        content: "간식/야식";
        color: black;
        opacity: 1;
        top: 60px;
        left: 84%;
    }
    section .foods ul .food_v:nth-child(10):hover::before{
        position: absolute;
        width: 50px;
        content: "음료/술";
        color: black;
        opacity: 1;
        top: 60px;
        left: 94%;
    }
    /* Footer */
    footer{
        height: 100px;
    }
    footer .inner >ul li:first-child a{
        font-size: 18px;
        font-weight: 700px;
    }
    footer .inner >ul li a{
        font-size: 15px;
    }
    /* 양싱부분 */
    .modal-content{
        width: 500px;
        height: 300px;
    }
    .iframeClass{
        margin-left: -30px;
    }
    .modal{
        width: 100%;
        height: 100%;
    }
}