.sidebar
{
    width: 300px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: -300px;
    z-index:1;
    transition: all .35s;
}
/*input 요소 중 menuicon아이디 값을 갖고있는 요소를 선택
input 요소에 체크가 되었을 때
input 다음에 있는 label을 선택
label다음에 있는 div를 선택*/
input[id = "menuicon"] :checked+label+div{
    left: 0; /*포지션의 위치 값이 0으로 다시 돌아오게 만든다.*/
}