body{
    position: static;
    width:2000px; height:1600px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#9ACD32;
    padding: 0px 12px;
}
.navbar_logo{
    font-size: 24px;
    color: white;
}
.navbar_logo i {
    color: 	#EEE8AA;
}
/* 메뉴 꾸미기 */
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    
}
.navbar_menu li{
    padding: 8px 25px;
    transition: all 2s;
}
.navbar_menu li:hover:not(.action){
    position: relative;
    color: white;
}
.navbar_menu li:hover{
    position: relative;
    background-color: #FAFAD2;
    border-radius: 5px;
    color: white;
}
.navbar_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}
.navbar_icons li{
    padding: 8px 12px;
}
header a{
    text-decoration: none; color:black;
}

.Container{
    width: 2000px; height:1400px;
    margin-top: 30px;
}
.SideBar{
    float: left;
    background-color: lightgoldenrodyellow;
    width: 350px; height:100%;
}
#Contents{
    float: left;
    background-color: lightgreen;
    width:1650px; height:100%;
}
