body{
    position: static;
    width:2000px; height:1600px;
    margin: 0 auto;
}

header{
    overflow: auto;
    height: 120px;
    left: 1px;
    top: 1px;
    width: 100%;
    border-bottom: 1px solid #bcdcbc;
    background-color: blanchedalmond;
    position: fixed;
    z-index: 2;
}
.inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input{
    outline: none;
}
.btn{
    width: 8%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing:  block;
    transition: .4s;
}
.choice .btn.btnChoice{
    background-color: rgb(235, 217, 217);
    border-radius: 10px 10px 10px 10px;
}
.choice .btn.btnChoice:hover{
    background-color: #333;
    color: rgb(235, 217, 217);
}
.choice .btn.btnChoice a{
    color: rgb(85, 81, 81);
    list-style: none;
    cursor: pointer;
}

/* HEADER */

/* HEADER-LOGO */
header .inner .menu .logo{
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url('https://avatars.githubusercontent.com/u/83266629?s=200&v=4');
    background-size: contain;
    cursor: pointer;
    display: flex;
    bottom: 0;
    top: 15px;
    margin: auto 10px;
}
header .inner .menu .logo > a{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 50%;
    opacity: 0;
}

/* HEADER SUB-MENU*/
.inner .menu .sub-menu{
    position: absolute;
    display: flex;
    margin: 10px -40px;
    right: 0;
    top: 0;
}
.inner .menu .sub-menu li{
    padding: 10px 10px;
    font-size: 12px;
}
.inner .menu .sub-menu > li::before{
    content: "";
    position: absolute;
    margin : 0 -10px;
    width: 1px;
    height: 12px;
    background-color: #bcdcbc;
}
header .inner .menu .sub-menu li:first-child::before,
header .inner .menu .sub-menu li:nth-child(4)::before
{
    display: none;
}
.inner .menu .sub-menu .search li input{
    height: 15px;
    position: relative;
    width: 0px;
    transition: width .4s, input .4s;
    opacity: 0;
}
.inner .menu .sub-menu .search.focused li input{
    opacity: 1;
    transition: width .4s, input .4s;
    width: 150px;
}
.inner .menu .sub-menu .search li .material-icons{
    position: absolute;
    cursor: pointer;
}
.inner .menu .sub-menu li a{
    color: rgb(44, 51, 46);
    margin: 10px;
    padding: 10px 10px;
}

/*HEADER MAIN-MENU*/
.inner .menu .main-menu{
    position: relative;
    width: 100%;
    display: flex;
    margin: -17px 80px;
    
}
.inner .menu .main-menu .menu-list{
    position: relative;
    padding: 20px 30px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    text-align: center;
    min-width: 70px;
    max-width: 70px;
}
.inner .menu .main-menu .menu-list:hover{
    background-color: rgb(218, 238, 222);
}
.inner .menu .main-menu .menu-list > ul{
    position: fixed;
    margin: 20px -30px;
    background-color: rgb(233, 243, 238);
    top: 1;
    padding: 10px 10px;
    min-width: 110px;
    max-width: 110px;
    z-index: 1;
    display: none;
}
.inner .menu .main-menu .menu-list:hover > ul{
    display: block;
}
.inner .menu .main-menu .menu-list > ul li.inner-menu{
    padding: 20px 20px;
}
.inner .menu .main-menu .menu-list > ul li.inner-menu a{
    color: rgb(136, 130, 130);
}

.Container{
    width: 1900px; height:1400px;
    margin-top: 120px;
}
/* .SideBar{
    float: left;
    background-color: lightgoldenrodyellow;
    width: 350px; height:100%;
} */
#Contents{
    float: left;
    /* background-color: lightgreen; */
    width:100%; height:100%;
    padding-left: 100px; padding-right: 100px;
    margin-left: 170px; margin-right: 100px;
}

/* 썸네일 div */
.Video{
    text-align: center;
    width: 360px; height: 350px;
    margin-top:100px; margin-left: 70px; margin-right: 70px;
    float: left;
    cursor:pointer;
}
.thumbnail{
    display: inline-block;
    margin-top: 100;
    width: 350px; height:250px;
}
.Video .img{
    padding-top: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 1600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 800px; /* Could be more or less, depending on screen size */   
    text-align: center;                     
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */
footer{
    width: 100%;
    left: 1;
    right: 1;
    background-color: rgb(189, 179, 165);
}
footer .inner{
    height: 120px;
    background-color: rgb(189, 179, 165);
}
footer .inner >ul{
    display: flex;
    position: absolute;
}
footer .inner >ul li{
    padding: 20px;
}
footer .inner >ul li::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    margin-left: -20px;
    background-color: rgb(82, 87, 83);
}
footer .inner >ul li:first-child::before{
    display: none;
}
footer .inner >ul li:first-child a{
    font-size: 18px;
    font-weight: 700px;
}
footer .inner >ul li a{
    color : rgb(66, 61, 61);
}